/* login */
.login-page {
    width: 100%;
    margin-top: 60px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    background-color: #e6e2e3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    max-width: 30rem;
  }
  .input {
    
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    width: 100%;
  }
  
  .button {
    padding: 0.5rem;
    width: 100%;
    background-color: #74C0FC;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #74C0FC;
    
  }

  
  /* //MODAL */
  .abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}